.container{
    display: flex;
    gap: 10px;
}

.text {
    background-color: lightblue;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start; 
    text-align: left;
    flex: 1;
}


.image{
    background-color: lightcoral;
    width: 50%;
    height: 80vh;
    padding: 20px;
    flex: 1;
}

.image img{
    height: inherit;

}

.text .actions{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text .actions a{
    padding: 20px 15px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-decoration: none;
    color: #29252C;
    border: 1px solid #29252C;    
}

.text .actions a:hover {
    background-color: #29252C;
    color: aliceblue;
    cursor: pointer;
    transition: 0.6s ease;
}


.text .actions .browse{
    background-color: #9EFFA9;
}
.text .actions .create{
    background-color: whitesmoke;
}