.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* Corrected unit */
    width: 100%;
}
.page .signup {
    width: 300px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: start; /* Center vertically */
 /* Ensure it takes full width */
    
}


.signup input{
    background-color: transparent;
    outline:  none;
    border: none;
    border-bottom: 1px solid #29252C;
    margin: 20px;
    padding: 5px;
    font-size: larger;
}

.signup button{
    padding: 20px 15px;
    margin: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #29252C;
    border: 1px solid #29252C;
    background-color: #9EFFA9;
}

.signup button:hover{
    cursor: pointer;
    background-color: #29252C;
    color: #fff;
    transition: .6s ease;
}